.md-welcome
  .md-welcome-msg
    .container.container-md
      h1.animated.fadeInDown.anim-delay-10 Hola!
      h2.animated.fadeInLeft.anim-delay-15 Esto es Teritos, la mejor plataforma para manejar la comunicación en tu centro educativo
  
// START row
.row
  .col-lg-3.col-md-6
    // START widget
    .panel.widget.bg-success
      .row.row-table
        .col-xs-4.text-center.bg-success-dark.pv-lg
          em.icon-emoticon-smile.fa-3x
        .col-xs-8.pv-lg
          .h1.m0.text-bold 45
          .text-uppercase Niños
  .col-lg-3.col-md-6
    // START widget
    .panel.widget.bg-danger
      .row.row-table
        .col-xs-4.text-center.bg-danger-dark.pv-lg
          em.icon-graduation.fa-3x
        .col-xs-8.pv-lg
          .h1.m0.text-bold 12
          .text-uppercase Educadores
  .col-lg-3.col-md-6
    // START widget
    .panel.widget.bg-warning
      .row.row-table
        .col-xs-4.text-center.bg-warning-dark.pv-lg
          em.fa.fa-group.fa-3x
        .col-xs-8.pv-lg
          .h1.m0.text-bold 5
          .text-uppercase Grupos
  .col-lg-3.col-md-6
    // START widget
    .panel.widget.bg-gray
      .row.row-table
        .col-xs-4.text-center.bg-gray-dark.pv-lg
          em.icon-eyeglasses.fa-3x
        .col-xs-8.pv-lg
          .h1.m0.text-bold 120
          .text-uppercase Padres          
// END row
.row
h3 Comunicados:

.table-grid.table-grid-desktop(ng-controller="MailboxController as mailbox")
  .col.col-md
    .pr
      .clearfix.mb(ng-hide="$state.is('app.mailbox.compose')")
        button.btn.btn-sm.btn-default.mb-toggle-button.pull-right(type="button", ng-click="mailbox.mailboxMenuCollapsed = !mailbox.mailboxMenuCollapsed", ng-init="mailbox.mailboxMenuCollapsed = true")
          em.fa.fa-bars.fa-fw.fa-lg
        a.btn.btn-purple.btn-sm.mb-compose-button(ui-sref='app.mailbox.compose') 
          em.fa.fa-pencil
          span Nuevo comunicado
      // START mailbox list
      .mb-boxes(collapse="mailbox.mailboxMenuCollapsed")
        .panel.panel-default
          .panel-body
            ul.nav.nav-pills.nav-stacked
              li.p
                small.text-muted CARPETAS
              li(ui-sref-active='active', ng-repeat="fold in mailbox.folders")
                a(ui-sref="app.mailbox.folder({folder: fold.folder})")
                  span.label.label-green.pull-right(ng-if="fold.alert") {{fold.alert}}
                  em.fa.fa-fw.fa-lg(ng-class="fold.icon")
                  span {{fold.name}}

      // END mailbox list
  
  .col(ui-view="")
