
.md-welcome
  .md-welcome-msg
    .container.container-md
      h1.animated.fadeInDown.anim-delay-10 Hola!
      h2.animated.fadeInLeft.anim-delay-15 Esto es Teritos, la mejor plataforma para manejar la comunicación en tu centro educativo
  
// START row
.row
  .col-lg-3.col-md-6
    // START widget
    .panel.widget.bg-success
      .row.row-table
        .col-xs-4.text-center.bg-success-dark.pv-lg
          em.icon-emoticon-smile.fa-3x
        .col-xs-8.pv-lg
          .h1.m0.text-bold 45
          .text-uppercase Niños
  .col-lg-3.col-md-6
    // START widget
    .panel.widget.bg-danger
      .row.row-table
        .col-xs-4.text-center.bg-danger-dark.pv-lg
          em.icon-graduation.fa-3x
        .col-xs-8.pv-lg
          .h1.m0.text-bold 12
          .text-uppercase Educadores
  .col-lg-3.col-md-6
    // START widget
    .panel.widget.bg-warning
      .row.row-table
        .col-xs-4.text-center.bg-warning-dark.pv-lg
          em.fa.fa-group.fa-3x
        .col-xs-8.pv-lg
          .h1.m0.text-bold 5
          .text-uppercase Grupos
  .col-lg-3.col-md-6
    // START widget
    .panel.widget.bg-gray
      .row.row-table
        .col-xs-4.text-center.bg-gray-dark.pv-lg
          em.icon-eyeglasses.fa-3x
        .col-xs-8.pv-lg
          .h1.m0.text-bold 120
          .text-uppercase Padres          
// END row
